In [46]:
import pandas as pd
import numpy as np
import string

In [47]:
da = pd.read_csv("DataAnalyst.csv",index_col=0)
de = pd.read_csv("DataEngineer.csv",index_col=0)
ds = pd.read_csv("DataScientist.csv",index_col=0)

In [48]:
da

,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
Job Title,,,,,,,,,,,,,,
"Data Analyst, Center on Immigration and Justice (CIJ)",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
"Senior Data Analyst, Insights & Analytics Team [Customer Operations]",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Data Analyst (Power BI + SAP),$51K-$93K (Glassdoor est.),"KORE1, a nationwide provider of staffing and r...",4.9,KORE1 Technologies\n4.9,"San Jose, CA","Irvine, CA",51 to 200 employees,2005,Company - Private,Staffing & Outsourcing,Business Services,$10 to $25 million (USD),"CyberCoders, Kforce, ASGN Incorporated",-1
Technical Business or Data Analyst,$46K-$72K (Glassdoor est.),Job Description\nHi\n\nHope you are doing grea...,4.4,Adwait Algorithm\n4.4,"Santa Clara, CA","Houston, TX",51 to 200 employees,2015,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,-1,-1
Data Analyst Junior,$44K-$82K (Glassdoor est.),Job Description\nJob description\nInterpret da...,5.0,"Staffigo Technical Services, LLC\n5.0","Fremont, CA","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
Sr. HR Data Analyst,$44K-$82K (Glassdoor est.),POSITION SUMMARY:\n\nThe Sr. HR Data Analyst p...,3.5,Cepheid\n3.5,"Sunnyvale, CA","Sunnyvale, CA",1001 to 5000 employees,1996,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$500 million to $1 billion (USD),-1,-1
Data Analyst â Junior,$89K-$151K (Glassdoor est.),"Job description\nInterpret data, analyze resul...",5.0,"Staffigo Technical Services, LLC\n5.0","Fremont, CA","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,-1

In [49]:
#Drop Unused Column and ROW
da['Rating'] = da['Rating'].dropna()
de['Rating'] = de['Rating'].dropna()
ds['Rating'] = ds['Rating'].dropna()
da['Salary Estimate'] = da['Salary Estimate'].dropna()
de['Salary Estimate'] = de['Salary Estimate'].dropna()
ds['Salary Estimate'] = ds['Salary Estimate'].dropna()
print('1',da['Rating'].isnull().values.any())
print('2',de['Rating'].isnull().values.any())
print('3',ds['Rating'].isnull().values.any())
print('4',da['Salary Estimate'].isnull().values.any())
print('5',de['Salary Estimate'].isnull().values.any())
print('6',ds['Salary Estimate'].isnull().values.any())
print('7',da['Rating'].isin([-1.0]).values.any())
print('8',de['Rating'].isin([-1.0]).values.any())
print('9',ds['Rating'].isin([-1.0]).values.any())

1 False
2 False
3 False
4 False
5 False
6 False
7 True
8 True
9 True

In [50]:
#Drop -1.0 in Rating
index_names = da[da['Rating'] == -1.0].index
da.drop(index_names, inplace = True)
index_names1 = de[de['Rating'] == -1.0].index
de.drop(index_names1, inplace = True)
index_names2 = ds[ds['Rating'] == -1.0].index
ds.drop(index_names2, inplace = True)
print('7',da['Rating'].isin([-1.0]).values.any())
print('8',de['Rating'].isin([-1.0]).values.any())
print('9',ds['Rating'].isin([-1.0]).values.any())

7 False
8 False
9 False

In [51]:
# Drop Column
da = da.drop(['Revenue','Competitors','Easy Apply'], axis = 1)
de = de.drop(['Revenue','Competitors','Easy Apply'], axis = 1)
ds = ds.drop(['Revenue','Competitors','Easy Apply','index'], axis = 1)

In [52]:
da

,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector
Job Title,,,,,,,,,,,
"Data Analyst, Center on Immigration and Justice (CIJ)",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit
Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care
"Senior Data Analyst, Insights & Analytics Team [Customer Operations]",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology
Business/Data Analyst (FP&A),$37K-$66K (Glassdoor est.),Two Sigma is a different kind of investment ma...,4.4,Two Sigma\n4.4,"New York, NY","New York, NY",1001 to 5000 employees,2001,Company - Private,Investment Banking & Asset Management,Finance
"Data Analyst, Merchant Health",$37K-$66K (Glassdoor est.),About Us\n\nRiskified is the AI platform power...,4.4,Riskified\n4.4,"New York, NY","New York, NY",501 to 1000 employees,2013,Company - Private,Research & Development,Business Services
...,...,...,...,...,...,...,...,...,...,...,...
Data Analyst (Power BI + SAP),$51K-$93K (Glassdoor est.),"KORE1, a nationwide provider of staffing and r...",4.9,KORE1 Technologies\n4.9,"San Jose, CA","Irvine, CA",51 to 200 employees,2005,Company - Private,Staffing & Outsourcing,Business Services
Technical Business or Data Analyst,$46K-$72K (Glassdoor est.),Job Description\nHi\n\nHope you are doing grea...,4.4,Adwait Algorithm\n4.4,"Santa Clara, CA","Houston, TX",51 to 200 employees,2015,Company - Private,IT Services,Information Technology
Data Analyst Junior,$44K-$82K (Glassdoor est.),Job Description\nJob description\nInterpret da...,5.0,"Staffigo Technical Services, LLC\n5.0","Fremont, CA","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology
Sr. HR Data Analyst,$44K-$82K (Glassdoor est.),POSITION SUMMARY:\n\nThe Sr. HR Data Analyst p...,3.5,Cepheid\n3.5,"Sunnyvale, CA","Sunnyvale, CA",1001 to 5000 employees,1996,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals
Data Analyst â Junior,$89K-$151K (Glassdoor est.),"Job description\nInterpret data, analyze resul...",5.0,"Staffigo Technical Services, LLC\n5.0","Fremont, CA","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology

In [53]:
# Reformat data values
# Chenage K = 000
da["Salary Estimate"] = da["Salary Estimate"].str.replace('K','000',regex = False)
de["Salary Estimate"] = de["Salary Estimate"].str.replace('K','000',regex = False)
ds["Salary Estimate"] = ds["Salary Estimate"].str.replace('K','000',regex = False)

# Remove (Glassdoor est.) Split into "Salary_Min_Estimate" & "Salary_Max_Estimate"
da["Salary_Min_Estimate"] = da["Salary Estimate"].str.extract('(\d+)', expand = True)
da["Salary_Max_Estimate"] = da["Salary Estimate"].str.extract('\d+\W+\s*(\d+)',expand = True)
de["Salary_Min_Estimate"] = de["Salary Estimate"].str.extract('(\d+)', expand = True)
de["Salary_Max_Estimate"] = de["Salary Estimate"].str.extract('\d+\W+\s*(\d+)',expand = True)
ds["Salary_Min_Estimate"] = ds["Salary Estimate"].str.extract('(\d+)', expand = True)
ds["Salary_Max_Estimate"] = ds["Salary Estimate"].str.extract('\d+\W+\s*(\d+)',expand = True)

In [54]:
da

,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Salary_Min_Estimate,Salary_Max_Estimate
Job Title,,,,,,,,,,,,,
"Data Analyst, Center on Immigration and Justice (CIJ)",$37000-$66000 (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,37000,66000
Quality Data Analyst,$37000-$66000 (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,37000,66000
"Senior Data Analyst, Insights & Analytics Team [Customer Operations]",$37000-$66000 (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,37000,66000
Business/Data Analyst (FP&A),$37000-$66000 (Glassdoor est.),Two Sigma is a different kind of investment ma...,4.4,Two Sigma\n4.4,"New York, NY","New York, NY",1001 to 5000 employees,2001,Company - Private,Investment Banking & Asset Management,Finance,37000,66000
"Data Analyst, Merchant Health",$37000-$66000 (Glassdoor est.),About Us\n\nRiskified is the AI platform power...,4.4,Riskified\n4.4,"New York, NY","New York, NY",501 to 1000 employees,2013,Company - Private,Research & Development,Business Services,37000,66000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Data Analyst (Power BI + SAP),$51000-$93000 (Glassdoor est.),"KORE1, a nationwide provider of staffing and r...",4.9,KORE1 Technologies\n4.9,"San Jose, CA","Irvine, CA",51 to 200 employees,2005,Company - Private,Staffing & Outsourcing,Business Services,51000,93000
Technical Business or Data Analyst,$46000-$72000 (Glassdoor est.),Job Description\nHi\n\nHope you are doing grea...,4.4,Adwait Algorithm\n4.4,"Santa Clara, CA","Houston, TX",51 to 200 employees,2015,Company - Private,IT Services,Information Technology,46000,72000
Data Analyst Junior,$44000-$82000 (Glassdoor est.),Job Description\nJob description\nInterpret da...,5.0,"Staffigo Technical Services, LLC\n5.0","Fremont, CA","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology,44000,82000
Sr. HR Data Analyst,$44000-$82000 (Glassdoor est.),POSITION SUMMARY:\n\nThe Sr. HR Data Analyst p...,3.5,Cepheid\n3.5,"Sunnyvale, CA","Sunnyvale, CA",1001 to 5000 employees,1996,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,44000,82000
Data Analyst â Junior,$89000-$151000 (Glassdoor est.),"Job description\nInterpret data, analyze resul...",5.0,"Staffigo Technical Services, LLC\n5.0","Fremont, CA","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology,89000,151000

In [55]:
da = da.drop(['Salary Estimate'], axis = 1)
de = de.drop(['Salary Estimate'], axis = 1)
ds = ds.drop(['Salary Estimate'], axis = 1)

In [56]:
da.dtypes

Job Description         object
Rating                 float64
Company Name            object
Location                object
Headquarters            object
Size                    object
Founded                  int64
Type of ownership       object
Industry                object
Sector                  object
Salary_Min_Estimate     object
Salary_Max_Estimate     object
dtype: object

In [57]:
# Reformat companyname
da["Company_Name"] = da["Company Name"].str.replace('\n\d\.\d','' ,regex = True)
de["Company_Name"] = de["Company Name"].str.replace('\n\d\.\d','' ,regex = True)
ds["Company_Name"] = ds["Company Name"].str.replace('\n\d\.\d','' ,regex = True)
da = da.drop(['Company Name'], axis = 1)
de = de.drop(['Company Name'], axis = 1)
ds = ds.drop(['Company Name'], axis = 1)

In [58]:
# Reset Index
da = da.reset_index()
de = de.reset_index()
#da = da.drop(['index'], axis = 1)

In [59]:
#da = da.drop(['index'], axis = 1)

In [60]:
#de = de.drop(['index'], axis = 1)

In [61]:
da['Location'] = da['Location'].replace(['Greenwood Village, Arapahoe, CO'], 'Greenwood Village Arapahoe, CO')

In [62]:
da[['City','State','1']]=da['Location'].str.split(",",expand=True)

In [63]:
da = da.drop(['1'],axis=1)
de[['City','State']]=de['Location'].str.split(",",expand=True)
ds[['City','State']]=ds['Location'].str.split(",",expand=True)
da = da.drop(['Location'],axis=1)
de = de.drop(['Location'],axis=1)
ds = ds.drop(['Location'],axis=1)

In [64]:
de[['City_Headquarter','State_Headquarter_Country']]=de['Headquarters'].str.split(",",expand=True)
ds[['City_Headquarter','State_Headquarter_Country','1']]=ds['Headquarters'].str.split(",",expand=True)
da[['City_Headquarter','State_Headquarter_Country','1']]=da['Headquarters'].str.split(",",expand=True)

In [65]:
da = da.drop(['Headquarters'],axis=1)
de = de.drop(['Headquarters'],axis=1)
ds = ds.drop(['Headquarters'],axis=1)

In [66]:
ds = ds.reset_index()

In [67]:
ds = ds.drop(['index'],axis=1)

In [68]:
da['Size_employee'] = da['Size'].str.extract('\d+\s*\W+\s*(\d+)',expand = True)

In [69]:
ds = ds.drop(['1'],axis=1)
da = da.drop(['1'],axis=1)

In [70]:
da['Size'] = da['Size'].str.replace('+',' to 10000',regex = False)
ds['Size'] = ds['Size'].str.replace('+',' to 10000',regex = False)
de['Size'] = de['Size'].str.replace('+',' to 10000',regex = False)

In [71]:
da['Size_employee'] = da['Size'].str.extract('\d+\s*\w+\s*(\d+)',expand = True)
de['Size_employee'] = de['Size'].str.extract('\d+\s*\w+\s*(\d+)',expand = True)
ds['Size_employee'] = ds['Size'].str.extract('\d+\s*\w+\s*(\d+)',expand = True)

In [72]:
ds = ds.drop(['Size'],axis=1)
da = da.drop(['Size'],axis=1)
de = de.drop(['Size'],axis=1)

In [73]:
da.insert(2,"JobCategory",'DataAnalyst')

In [74]:
de.insert(2,"JobCategory",'DataEngineer')
ds.insert(2,"JobCategory",'DataScientist')

In [75]:
ds[~ds['Job Title'].str.contains("Data Engineer", case=False)]

,Job Title,Job Description,JobCategory,Rating,Founded,Type of ownership,Industry,Sector,Salary_Min_Estimate,Salary_Max_Estimate,Company_Name,City,State,City_Headquarter,State_Headquarter_Country,Size_employee
0,Senior Data Scientist,"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",DataScientist,3.5,2007,Company - Private,Travel Agencies,Travel & Tourism,111000,181000,Hopper,New York,NY,Montreal,Canada,1000
1,"Data Scientist, Product Analytics","At Noom, we use scientifically proven methods ...",DataScientist,4.5,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,111000,181000,Noom US,New York,NY,New York,NY,5000
2,Data Analyst,Sapphire Digital seeks a dynamic and driven mi...,DataScientist,3.4,2019,Company - Private,Internet,Information Technology,111000,181000,Sapphire Digital,Lyndhurst,NJ,Lyndhurst,NJ,500
3,"Director, Data Science","Director, Data Science - (200537)\nDescription...",DataScientist,3.4,2007,Company - Private,Advertising & Marketing,Business Services,111000,181000,United Entertainment Group,New York,NY,New York,NY,200
4,Data Scientist,Job Brief\n\nThe ideal candidate will have pre...,DataScientist,2.9,1985,Company - Private,Insurance Carriers,Insurance,111000,181000,IFG Companies,New York,NY,Hartford,CT,500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3489,Software Engineer - Senior Data Analyst,"As a member of our Software Engineering Group,...",DataScientist,3.9,1799,Company - Public,Investment Banking & Asset Management,Finance,55000,112000,"JPMorgan Chase Bank, N.A.",Columbus,OH,New York,NY,10000
3490,Sr Data Analyst,Sr Data Analyst\n\n\nJob Description\n\nCFS Te...,DataScientist,4.5,1994,Company - Private,Staffing & Outsourcing,Business Services,55000,112000,Creative Financial Staffing,Westerville,OH,Boston,MA,500
3493,Columbus Data Science Tutor Jobs,#Columbus Data Science Tutor Jobs\n\nVarsity T...,DataScientist,4.2,2007,Company - Private,Internet,Information Technology,55000,112000,Varsity Tutors,Columbus,OH,Saint Louis,MO,500
3496,Data Analyst â Junior,"Job description\nInterpret data, analyze resul...",DataScientist,5.0,2008,Company - Private,IT Services,Information Technology,55000,112000,"Staffigo Technical Services, LLC",Columbus,OH,Woodridge,IL,200
3499,Patient Safety Physician or Safety Scientist -...,"Help us transform patients' lives.\nAt UCB, we...",DataScientist,3.7,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,55000,112000,UCB,Slough,OH,Brussel,Belgium,10000

In [76]:
ds1e = ds.loc[ds['Job Title'].str.contains("Data Engineer", case=False)]

In [77]:
ds1e['JobCategory'] = 'DataEngineer'
ds1e

<ipython-input-77-564958b169e1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1e['JobCategory'] = 'DataEngineer'

,Job Title,Job Description,JobCategory,Rating,Founded,Type of ownership,Industry,Sector,Salary_Min_Estimate,Salary_Max_Estimate,Company_Name,City,State,City_Headquarter,State_Headquarter_Country,Size_employee
21,Senior Data Engineer (Healthcare Domain experi...,"Key Responsibilities\n\n- Architect, build, an...",DataEngineer,3.4,1998,Company - Private,IT Services,Information Technology,111000,181000,Enterprise Integration,New York,NY,Jacksonville,FL,200
67,Data Engineer (Python),What we're looking for\n\nWe are looking for a...,DataEngineer,4.4,2010,Company - Private,Internet,Information Technology,74000,124000,Conductor,New York,NY,New York,NY,500
92,Machine Learning & Data Engineer (Remote),"Jun means truth, and our culture is about open...",DataEngineer,4.7,2005,Company - Private,Internet,Information Technology,102000,121000,Jun Group Productions LLC,New York,NY,New York,NY,200
114,"Data Scientist / Analytics, Data Engineering","Consultant, Data Science (GenPact/Morgan Stanl...",DataEngineer,1.0,-1,Company - Private,IT Services,Information Technology,102000,121000,Sphinix Solutions,New York,NY,New York,NY,50
119,Data Engineer,Us and the role\n\nSeated is an app that rewar...,DataEngineer,4.7,2017,Company - Private,Internet,Information Technology,129000,210000,Seated,New York,NY,New York,NY,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3492,Principal Data Engineer,ComResource is looking for a Principal Data En...,DataEngineer,4.6,1991,Company - Private,IT Services,Information Technology,55000,112000,ComResource,Columbus,OH,Columbus,OH,500
3494,Cyber Security Data Engineer,ApTask is a leading staffing and recruitment c...,DataEngineer,3.9,2010,Company - Private,IT Services,Information Technology,55000,112000,ApTask,Dublin,OH,Iselin,NJ,500
3495,AWS Data Engineer,About Us\n\nTachyon Technologies is a Digital ...,DataEngineer,4.4,2011,Company - Private,IT Services,Information Technology,55000,112000,Tachyon Technologies,Dublin,OH,Irving,TX,500
3497,Security Analytics Data Engineer,Job DescriptionThe Security Analytics Data Eng...,DataEngineer,3.8,1977,Company - Private,Staffing & Outsourcing,Business Services,55000,112000,"PDS Tech, Inc.",Dublin,OH,Irving,TX,10000
3498,Security Analytics Data Engineer,The Security Analytics Data Engineer will inte...,DataEngineer,4.0,-1,Company - Private,Accounting,Accounting & Legal,55000,112000,Data Resource Technologies,Dublin,OH,Omaha,NE,50

In [78]:
all_in_one = pd.concat([da, de,ds1e, ds], axis=0)

In [79]:
all_in_one.to_csv('Alltest.csv',index = True)

In [80]:
a = all_in_one.drop_duplicates(subset = ['Job Title', 'Company_Name'],keep = 'first').reset_index(drop = True)

In [81]:
a

,Job Title,Job Description,JobCategory,Rating,Founded,Type of ownership,Industry,Sector,Salary_Min_Estimate,Salary_Max_Estimate,Company_Name,City,State,City_Headquarter,State_Headquarter_Country,Size_employee
0,"Data Analyst, Center on Immigration and Justic...",Are you eager to roll up your sleeves and harn...,DataAnalyst,3.2,1961,Nonprofit Organization,Social Assistance,Non-Profit,37000,66000,Vera Institute of Justice,New York,NY,New York,NY,500
1,Quality Data Analyst,Overview\n\nProvides analytical and technical ...,DataAnalyst,3.8,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,37000,66000,Visiting Nurse Service of New York,New York,NY,New York,NY,10000
2,"Senior Data Analyst, Insights & Analytics Team...",We’re looking for a Senior Data Analyst who ha...,DataAnalyst,3.4,2003,Company - Private,Internet,Information Technology,37000,66000,Squarespace,New York,NY,New York,NY,5000
3,Business/Data Analyst (FP&A),Two Sigma is a different kind of investment ma...,DataAnalyst,4.4,2001,Company - Private,Investment Banking & Asset Management,Finance,37000,66000,Two Sigma,New York,NY,New York,NY,5000
4,"Data Analyst, Merchant Health",About Us\n\nRiskified is the AI platform power...,DataAnalyst,4.4,2013,Company - Private,Research & Development,Business Services,37000,66000,Riskified,New York,NY,New York,NY,1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6783,Sr Data Modeler,As an experienced Sr. Data Modelerf our Softwa...,DataScientist,3.9,1799,Company - Public,Investment Banking & Asset Management,Finance,55000,112000,"JPMorgan Chase Bank, N.A.",Columbus,OH,New York,NY,10000
6784,Biotransformation Scientist and DMPK Design Lead,"Help us transform patients' lives.\n\nAt UCB, ...",DataScientist,3.7,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,55000,112000,UCB,Slough,OH,Brussel,Belgium,10000
6785,Senior/Principal Scientist - Display Technolog...,"Help us transform patients' lives.\n\nAt UCB, ...",DataScientist,3.7,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,55000,112000,UCB,Slough,OH,Brussel,Belgium,10000
6786,Columbus Data Science Tutor Jobs,#Columbus Data Science Tutor Jobs\n\nVarsity T...,DataScientist,4.2,2007,Company - Private,Internet,Information Technology,55000,112000,Varsity Tutors,Columbus,OH,Saint Louis,MO,500
6787,Patient Safety Physician or Safety Scientist -...,"Help us transform patients' lives.\nAt UCB, we...",DataScientist,3.7,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,55000,112000,UCB,Slough,OH,Brussel,Belgium,10000

In [82]:
#a['Salary_Max_Estimate']=a['Salary_Max_Estimate'].dropna()
a.dtypes

Job Title                     object
Job Description               object
JobCategory                   object
Rating                       float64
Founded                        int64
Type of ownership             object
Industry                      object
Sector                        object
Salary_Min_Estimate           object
Salary_Max_Estimate           object
Company_Name                  object
City                          object
State                         object
City_Headquarter              object
State_Headquarter_Country     object
Size_employee                 object
dtype: object

In [83]:
a['Salary_Min_Estimate'] =  a['Salary_Min_Estimate'].astype(int)
a['Salary_Max_Estimate'] =  a['Salary_Max_Estimate'].fillna(0)
a['Salary_Max_Estimate'] =  a['Salary_Max_Estimate'].astype(int)

In [84]:
a = a[a['Salary_Min_Estimate'] >= 100]

In [85]:
a

,Job Title,Job Description,JobCategory,Rating,Founded,Type of ownership,Industry,Sector,Salary_Min_Estimate,Salary_Max_Estimate,Company_Name,City,State,City_Headquarter,State_Headquarter_Country,Size_employee
0,"Data Analyst, Center on Immigration and Justic...",Are you eager to roll up your sleeves and harn...,DataAnalyst,3.2,1961,Nonprofit Organization,Social Assistance,Non-Profit,37000,66000,Vera Institute of Justice,New York,NY,New York,NY,500
1,Quality Data Analyst,Overview\n\nProvides analytical and technical ...,DataAnalyst,3.8,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,37000,66000,Visiting Nurse Service of New York,New York,NY,New York,NY,10000
2,"Senior Data Analyst, Insights & Analytics Team...",We’re looking for a Senior Data Analyst who ha...,DataAnalyst,3.4,2003,Company - Private,Internet,Information Technology,37000,66000,Squarespace,New York,NY,New York,NY,5000
3,Business/Data Analyst (FP&A),Two Sigma is a different kind of investment ma...,DataAnalyst,4.4,2001,Company - Private,Investment Banking & Asset Management,Finance,37000,66000,Two Sigma,New York,NY,New York,NY,5000
4,"Data Analyst, Merchant Health",About Us\n\nRiskified is the AI platform power...,DataAnalyst,4.4,2013,Company - Private,Research & Development,Business Services,37000,66000,Riskified,New York,NY,New York,NY,1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6783,Sr Data Modeler,As an experienced Sr. Data Modelerf our Softwa...,DataScientist,3.9,1799,Company - Public,Investment Banking & Asset Management,Finance,55000,112000,"JPMorgan Chase Bank, N.A.",Columbus,OH,New York,NY,10000
6784,Biotransformation Scientist and DMPK Design Lead,"Help us transform patients' lives.\n\nAt UCB, ...",DataScientist,3.7,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,55000,112000,UCB,Slough,OH,Brussel,Belgium,10000
6785,Senior/Principal Scientist - Display Technolog...,"Help us transform patients' lives.\n\nAt UCB, ...",DataScientist,3.7,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,55000,112000,UCB,Slough,OH,Brussel,Belgium,10000
6786,Columbus Data Science Tutor Jobs,#Columbus Data Science Tutor Jobs\n\nVarsity T...,DataScientist,4.2,2007,Company - Private,Internet,Information Technology,55000,112000,Varsity Tutors,Columbus,OH,Saint Louis,MO,500
6787,Patient Safety Physician or Safety Scientist -...,"Help us transform patients' lives.\nAt UCB, we...",DataScientist,3.7,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,55000,112000,UCB,Slough,OH,Brussel,Belgium,10000

In [86]:
a = a.to_csv('AllIN.csv',index = False)