In [12]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

df = pd.read_csv('Allin.csv')
df.head()

,Job Title,Job Description,JobCategory,Rating,Founded,Type of ownership,Industry,Sector,Salary_Min_Estimate,Salary_Max_Estimate,Company_Name,City,State,City_Headquarter,State_Headquarter_Country,Size_employee
0,"Data Analyst, Center on Immigration and Justic...",Are you eager to roll up your sleeves and harn...,DataAnalyst,3.2,1961,Nonprofit Organization,Social Assistance,Non-Profit,37000,66000,Vera Institute of Justice,New York,NY,New York,NY,500.0
1,Quality Data Analyst,Overview\n\nProvides analytical and technical ...,DataAnalyst,3.8,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,37000,66000,Visiting Nurse Service of New York,New York,NY,New York,NY,10000.0
2,"Senior Data Analyst, Insights & Analytics Team...",We’re looking for a Senior Data Analyst who ha...,DataAnalyst,3.4,2003,Company - Private,Internet,Information Technology,37000,66000,Squarespace,New York,NY,New York,NY,5000.0
3,Business/Data Analyst (FP&A),Two Sigma is a different kind of investment ma...,DataAnalyst,4.4,2001,Company - Private,Investment Banking & Asset Management,Finance,37000,66000,Two Sigma,New York,NY,New York,NY,5000.0
4,"Data Analyst, Merchant Health",About Us\n\nRiskified is the AI platform power...,DataAnalyst,4.4,2013,Company - Private,Research & Development,Business Services,37000,66000,Riskified,New York,NY,New York,NY,1000.0

In [13]:
grouped = df.groupby(df.JobCategory)
da = grouped.get_group("DataAnalyst")
de = grouped.get_group("DataEngineer")
ds = grouped.get_group("DataScientist")

In [14]:
da1 = da[['Job Description']]
de1 = de[['Job Description']]
ds1 = ds[['Job Description']]

In [15]:
da1['Job Description'] = da1['Job Description'].str.lower()
de1['Job Description'] = de1['Job Description'].str.lower()
ds1['Job Description'] = ds1['Job Description'].str.lower()

<ipython-input-15-6da5d20263f4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  da1['Job Description'] = da1['Job Description'].str.lower()
<ipython-input-15-6da5d20263f4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de1['Job Description'] = de1['Job Description'].str.lower()
<ipython-input-15-6da5d20263f4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['Job Description'] = ds1['Job Description'].str.lower()

In [16]:
da1

                                        Job Description
0     are you eager to roll up your sleeves and harn...
1     overview\n\nprovides analytical and technical ...
2     we’re looking for a senior data analyst who ha...
3     two sigma is a different kind of investment ma...
4     about us\n\nriskified is the ai platform power...
...                                                 ...
2778  overview\n\n\nimagine a future that is transfo...
2779  overview\n\n\nimagine a future that is transfo...
2780  imagine a future that is transformed by agile ...
2781  about us ›\nregistered nurse stroke quality co...
2782  kore1, a nationwide provider of staffing and r...

[2783 rows x 1 columns]

In [17]:
da1['Job Description'] = da1['Job Description'].str.replace('\n',' ',regex=False)
de1['Job Description'] = de1['Job Description'].str.replace('\n',' ',regex=False)
ds1['Job Description'] = ds1['Job Description'].str.replace('\n',' ',regex=False)

<ipython-input-17-c5e5c7a9655c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  da1['Job Description'] = da1['Job Description'].str.replace('\n',' ',regex=False)
<ipython-input-17-c5e5c7a9655c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de1['Job Description'] = de1['Job Description'].str.replace('\n',' ',regex=False)
<ipython-input-17-c5e5c7a9655c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['Job Description'] = ds1['Job Description'].str.replace('\n',' ',regex=False)

In [18]:
da1['Job Description'] = da1['Job Description'].str.replace('\W',' ',regex=True)
de1['Job Description'] = de1['Job Description'].str.replace('\W',' ',regex=True)
ds1['Job Description'] = ds1['Job Description'].str.replace('\W',' ',regex=True)

<ipython-input-18-e20d08a2c296>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  da1['Job Description'] = da1['Job Description'].str.replace('\W',' ',regex=True)
<ipython-input-18-e20d08a2c296>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de1['Job Description'] = de1['Job Description'].str.replace('\W',' ',regex=True)
<ipython-input-18-e20d08a2c296>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['Job Description'] = ds1['Job Description'].str.replace('\W',' ',regex=True)

import pandas as pd
df = pd.read_csv('testword.csv')
cat = df['Job Description'].str.cat(sep=' ')
keyword = ["sql", "python", "c++", "java"]
words = cat.split(' ')
filterword = ' '.join((filter(lambda ele: ele in keyword, words)))
#filterword
print(filterword)

In [19]:
import nltk
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/cheukhongip/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [20]:
# DA
cat = da1['Job Description'].str.cat(sep=' ')
keyword = ["sql", "python", "c++", "java","tableau","oracle","data",
           "business","management","aws","nosql","mongodb","machine",
           "learning","cloud",'software','database','design','regression']
all_stopwords = stopwords.words('english')
all_stopwords.extend(['work','jobs','etc','us','needs','degree','years','required','including','job','new'])
words = cat.split(' ')
filterword = ' '.join((filter(lambda ele: 
ele not in all_stopwords, words)))
kw = ' '.join((filter(lambda ele: ele in keyword, words)))
v = CountVectorizer()
matrix = v.fit_transform([filterword])
counts = pd.DataFrame(matrix.toarray(),columns=v.get_feature_names())
s = counts.sum(axis = 0)
s = s.sort_values(ascending=False)
a = s.to_csv('Da.csv')
v1 = CountVectorizer()
matrix1 = v1.fit_transform([kw])
counts1 = pd.DataFrame(matrix1.toarray(),columns=v1.get_feature_names())
s1 = counts1.sum(axis = 0)
s1 = s1.sort_values(ascending=False)
a1 = s1.to_csv('Da1.csv')
Text = open(r'datext.txt','w')
String = kw
Text.write(String)
Text.close()
s1

data          29513
business       9139
management     5318
sql            2666
design         1895
software       1744
database       1433
tableau         937
python          885
learning        632
oracle          485
cloud           450
machine         363
java            190
aws             176
regression      156
nosql            43
mongodb          34
dtype: int64

In [21]:
# DS
cat = ds1['Job Description'].str.cat(sep=' ')
keyword = ["sql", "python", "c++", "java","tableau","oracle","data",
           "business","management","aws","nosql","mongodb","machine",
           "learning","cloud",'software','database','design','regression']
all_stopwords = stopwords.words('english')
all_stopwords.extend(['work','jobs','etc','us','needs','degree','years','required','including','job','new'])

words = cat.split(' ')
filterword1 = ' '.join((filter(lambda ele: ele not in all_stopwords, words)))
kw1 = ' '.join((filter(lambda ele: ele in keyword, words)))


v = CountVectorizer()
matrix = v.fit_transform([filterword1])
counts = pd.DataFrame(matrix.toarray(),columns=v.get_feature_names())
s = counts.sum(axis = 0)
s = s.sort_values(ascending=False)
a = s.to_csv('Ds.csv')

v1 = CountVectorizer()
matrix1 = v1.fit_transform([kw1])
counts1 = pd.DataFrame(matrix1.toarray(),columns=v1.get_feature_names())
s1 = counts1.sum(axis = 0)
s1 = s1.sort_values(ascending=False)
a1 = s1.to_csv('Ds1.csv')

Text = open(r'dstext.txt','w')
String = kw1
Text.write(String)
Text.close()

s1

data          18251
business       5327
learning       3258
machine        2372
management     2207
design         2021
software       1549
python         1494
sql            1462
cloud           596
database        505
tableau         500
aws             345
java            312
regression      304
oracle          141
nosql           108
mongodb          42
dtype: int64

In [22]:
# DE
cat = de1['Job Description'].str.cat(sep=' ')
keyword = ["sql", "python", "c++", "java","tableau","oracle","data",
           "business","management","aws","nosql","mongodb","machine",
           "learning","cloud",'software','database','design','regression']
all_stopwords = stopwords.words('english')
all_stopwords.extend(['work','jobs','etc','us','needs','degree','years','required','including','job','new'])

words = cat.split(' ')
filterword2 = ' '.join((filter(lambda ele: 
ele not in all_stopwords, words)))
kw2 = ' '.join((filter(lambda ele: ele in keyword, words)))


v = CountVectorizer()
matrix = v.fit_transform([filterword2])
counts = pd.DataFrame(matrix.toarray(),columns=v.get_feature_names())
s = counts.sum(axis = 0)
s = s.sort_values(ascending=False)
a = s.to_csv('De.csv')

v1 = CountVectorizer()
matrix1 = v1.fit_transform([kw2])
counts1 = pd.DataFrame(matrix1.toarray(),columns=v1.get_feature_names())
s1 = counts1.sum(axis = 0)
s1 = s1.sort_values(ascending=False)
a1 = s1.to_csv('De1.csv')

Text = open(r'detext.txt','w')
String = kw2
Text.write(String)
Text.close()

s1

data          15193
business       3387
design         3137
software       2808
management     2200
cloud          1733
sql            1545
python         1324
aws            1069
learning        959
database        924
java            831
machine         565
nosql           319
tableau         260
oracle          197
mongodb         112
regression       68
dtype: int64